<app-navbar></app-navbar>
<body style="background-color: wheat;">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 p-4 shadow rounded" style="background-color: wheat;">
            <h1 class="text-center mb-4">Desafios e Luta por Reconhecimento</h1>
            <h2 class="text-center">Racismo Estrutural</h2>
            <p>O racismo está enraizado nas instituições, limitando oportunidades para a população negra.</p>
            <p>Negros enfrentam dificuldades no acesso à educação, emprego e saúde.</p>
            <p>A violência policial afeta desproporcionalmente jovens negros.</p>
            <img src="/raci2.jpg" alt="">

            <h2 class="text-center mt-4">Educação</h2>
            <p>A falta de ensino sobre história e cultura africana nas escolas perpetua a invisibilidade.</p>
            <p>A Lei 10.639/03, que obriga o ensino da história africana, ainda não é plenamente implementada.</p>
            <p>A educação antirracista é essencial para combater estereótipos e preconceitos.</p>

            <h2 class="text-center mt-4">Representatividade</h2>
            <p>Negros são sub-representados na política, mídia e cargos de liderança.</p>
            <p>Apenas 24% dos deputados federais são negros, apesar de serem mais de 50% da população.</p>
            <p>A falta de representatividade reforça a desigualdade social.</p>

            <h2 class="text-center mt-4">Intolerância Religiosa</h2>
            <p>Religiões de matriz africana, como o Candomblé e a Umbanda, sofrem perseguição e discriminação.</p>
            <p>Terreiros são frequentemente alvo de ataques e vandalismo.</p>
            <p>A luta pela liberdade religiosa é uma bandeira do movimento negro.</p>

            <h2 class="text-center mt-4">Desigualdade Social</h2>
            <p>A população negra enfrenta maiores índices de pobreza, desemprego e violência.</p>
            <p>Negros têm menos acesso a serviços básicos, como saúde e educação de qualidade.</p>
            <p>A desigualdade racial é um dos maiores desafios do Brasil.</p>
            <img src="/raci.jpg" alt="">

            <h2 class="text-center mt-4">Valorização Cultural</h2>
            <p>A herança africana é frequentemente marginalizada ou apropriada sem reconhecimento.</p>
            <p>A cultura negra é muitas vezes vista como exótica, em vez de parte integrante da identidade nacional.</p>
            <p>A valorização da cultura africana é essencial para uma sociedade mais justa e inclusiva.</p>
            <img src="/brilho.jpg" alt="">
        </div>
    </div>
</div>

</body>
