<app-navbar></app-navbar>
<body style="background-color: wheat;">
    <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 p-4 shadow rounded" style="background-color: wheat;">
        <h1 class="text-center mb-4">Contribuições para a Economia</h1>
        <h2 class="text-center">Agricultura</h2>
        <p>Técnicas agrícolas africanas, como o cultivo de mandioca e milho, foram adaptadas no Brasil.</p>
        <p>Escravizados trabalharam em plantações de cana-de-açúcar, café e algodão, sustentando a economia colonial.</p>
        <p>Conhecimentos sobre manejo da terra e irrigação foram trazidos da África.</p>
  
        <h2 class="text-center mt-4">Mineração</h2>
        <p>Escravizados foram essenciais na extração de ouro e diamantes durante o ciclo do ouro no século XVIII.</p>
        <p>A mão de obra africana foi fundamental para o desenvolvimento das cidades históricas de Minas Gerais.</p>
        <p>A exploração mineral gerou riqueza para a coroa portuguesa, mas deixou um legado de desigualdade.</p>
  
        <h2 class="text-center mt-4">Artesanato e Ofícios</h2>
        <p>Conhecimentos em metalurgia, tecelagem e cerâmica foram trazidos por africanos.</p>
        <p>Escravizados trabalharam como ferreiros, carpinteiros e pedreiros, contribuindo para a construção de cidades.</p>
        <p>O artesanato africano influenciou a produção de objetos decorativos e utilitários no Brasil.</p>
  
        <h2 class="text-center mt-4">Comércio e Mercados</h2>
        <p>A formação de mercados e feiras livres tem influência das práticas comerciais africanas.</p>
        <p>Escravizados de ganho, que trabalhavam por conta própria, vendiam produtos nas ruas das cidades.</p>
        <p>A cultura do comércio informal ainda é forte no Brasil, especialmente em comunidades periféricas.</p>
  
        <h2 class="text-center mt-4">Pesca e Maricultura</h2>
        <p>Técnicas de pesca e manejo de recursos aquáticos foram introduzidas por africanos.</p>
        <p>A pesca artesanal, comum no litoral brasileiro, tem raízes africanas.</p>
        <p>Pratos à base de peixe, como a moqueca, são heranças dessa tradição.</p>
  
        <h2 class="text-center mt-4">Construção Civil</h2>
        <p>Métodos de construção e arquitetura africanos influenciaram a engenharia colonial.</p>
        <p>Escravizados trabalharam na construção de igrejas, casarões e infraestrutura urbana.</p>
        <p>A mão de obra africana foi essencial para o desenvolvimento das cidades históricas.</p>
      </div>
    </div>
  </div>
</body>
